*, html{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body{
    background-color: #9a9a9a;
}
nav{
    background-color: white;
    display: flex;
    justify-content: space-between;
    padding: 1rem 2rem;
}
nav div img{
    width: 50px;;
}
nav ul{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    gap: 1rem;
}
nav ul li a {
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 900 ;
}
nav ul li a:hover{
    border-bottom: 10px solid ;
}